.bg-gray {
  background-color: #e6ecf0;
}

.bg-white {
  background-color: #ffffff;
}

.no-decoration {
  text-decoration: none;
}

.result-container {
  background-color: #b6c8d3;
  margin: 16px 0px 0px;
  padding: 16px
}
